DATABASE_URL="postgresql://YOUR_DATABASE_URL"

PORT=5005

NODE_ENV=development

APP_URL="http://localhost:5173"

SMTP_USER="your_email"

SMTP_PASS="your_password"

SENDER_EMAIL="your_email"

INNGEST_EVENT_KEY="local"
